body {
  display: flex;
  flex-direction: column;
  padding: 0 10vw 0 10vw;
  color: rgb(255, 0, 0);
}

#title {
  margin-top: 10vw;
  font-size: 5rem;
  background: rgba(0, 0, 0, 0.459);
  max-width: fit-content;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

a {
  background: rgba(0, 0, 0, 0.459);
  font-size: 2rem;
  font-weight: bold;
  max-width: fit-content;
}
