body {
  display: flex;
  flex-direction: column;
  padding: 0 10vw 0 10vw;
  color: rgb(255, 0, 0);
  align-items: center;
  gap: 5vw;
}

#title,
.username,
.password,
h2,
button,
.errorList {
  background: rgba(0, 0, 0, 0.459);
  max-width: fit-content;
}

#title {
  justify-self: center;
  margin-top: 2vw;
  font-size: 4rem;
}

a {
  font-size: 2rem;
  font-weight: bold;
  max-width: fit-content;
}

h2 {
  font-size: 2.5rem;
}

#loginForm {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 1.5rem;
}

#loginForm div {
  display: flex;
  align-items: center;
}

.errorList {
  min-height: 1rem;
  font-size: 1rem;
}

button {
  font-weight: bold;
}
