body {
  display: flex;
  color: var(--text);
}

.left,
.right {
  display: flex;
  flex-direction: column;
}

.left {
  background-color: var(--bg);
}

.loginContainer {
  width: 30vw;
  padding: 2rem;
}

input {
  width: 100%;
}

#title {
  justify-self: center;
  margin-top: 2vw;
  font-size: 4rem;
  color: var(--text);
}

a {
  font-size: 2rem;
  font-weight: bold;
  max-width: fit-content;
}

h2 {
  font-size: 2.5rem;
}

#loginForm {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 1.5rem;
  justify-content: center;
}

#loginForm div {
  display: flex;
  align-items: center;
}

#username,
#password {
  border: var(--border) 2px solid;
  background-color: var(--surface);
  padding: 0.5rem 1rem 0.5rem 1rem;
  border-radius: 20px;
  max-width: 80%;
}

.errorList {
  min-height: 1rem;
  font-size: 1rem;
}

button {
  padding: 0.2rem 1rem 0.2rem 1rem;
  border-radius: 20px;
  width: fit-content;
  text-align: center;
  background-color: var(--accent);
  color: var(--accent-text);
  font-weight: bold;
}
